<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% include 'components/navbar.html' %}

    <h1>Pokédex</h1>

    <!-- Search Bar -->
    <div class="search-container">
        <input type="text" id="search-bar" class="search-bar" placeholder="Search Pokémon by name..." oninput="searchPokemon()">
    </div>

    <!-- Navigation Buttons -->
    <div class="carousel-nav">
        <button class="carousel-button" onclick="scrollCarousel(-1)">⬅️ Previous</button>
        <button class="carousel-button" onclick="scrollCarousel(1)">Next ➡️</button>
    </div>

    <!-- Loading Indicator -->
    <div id="loading">
        <div class="spinner"></div>
    </div>

    <!-- Pokemon Container -->
    <div id="pokemon-container"></div>

    <div id="pokemon-info"></div>

    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"></script>
</body>
</html>