<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Mon équipe</title>
</head>
<body>

    {% include 'components/navbar.html' %}

    <div class="container">

        <h1>Mon équipe</h1>

    </div>


    <script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/commun.js') }}"></script>
    <script>
        changeActiveLink('my_team');
    </script>
    
</body>
</html>